In [1]:
import pandas as pd
import numpy as np

import sub_task_labeling

sub_task_labeling.main(os='mac')

/Users/gwonjeong-eul/Desktop/ecp-scl-macbook/ECP_SCL/Experiment(Supervised Learning)/sub task prediction/sub_task_labeling.py:29: DtypeWarning: Columns (226) have mixed types. Specify dtype option on import or set low_memory=False.
  mimic = pd.read_csv(mimic_path, compression = 'gzip')
/Users/gwonjeong-eul/Desktop/ecp-scl-macbook/ECP_SCL/Experiment(Supervised Learning)/sub task prediction/sub_task_labeling.py:32: DtypeWarning: Columns (225) have mixed types. Specify dtype option on import or set low_memory=False.
  eicu = pd.read_csv(eicu_path, compression = 'gzip')

Creating Mortality next 24h Task...
Finish!
--------------------------------------
Creating Remain Length of stay Task...
Finish!
--------------------------------------
Creating ARDS next 4, 8h Task...

100%|██████████| 3640/3640 [00:01<00:00, 2396.33it/s]
100%|██████████| 1598/1598 [00:00<00:00, 2754.16it/s]
100%|██████████| 3640/3640 [00:31<00:00, 114.65it/s]
100%|██████████| 1598/1598 [00:17<00:00, 91.17it/s]
100%|██████████| 3640/3640 [00:32<00:00, 111.34it/s]
100%|██████████| 1598/1598 [00:17<00:00, 91.29it/s]

Finish!
--------------------------------------
Creating SIC next 4, 8h Task...

100%|██████████| 1861/1861 [00:15<00:00, 120.72it/s]
100%|██████████| 930/930 [00:07<00:00, 117.83it/s]
100%|██████████| 1861/1861 [00:21<00:00, 85.72it/s]
100%|██████████| 930/930 [00:11<00:00, 83.68it/s]
100%|██████████| 1861/1861 [00:21<00:00, 88.04it/s]
100%|██████████| 930/930 [00:11<00:00, 83.14it/s]

Finish!
--------------------------------------

In [1]:
#EDA
import pandas as pd
mimic_path = '/Users/gwonjeong-eul/Desktop/ecp-scl-macbook/ECP_SCL/Case Labeling/mimic_analysis(new_version0313).csv.gz'

mimic_raw = pd.read_csv(mimic_path, compression = 'gzip')

/var/folders/__/_sgwr43s0dldn1yqlf2z9tdm0000gn/T/ipykernel_56330/3328757772.py:5: DtypeWarning: Columns (226) have mixed types. Specify dtype option on import or set low_memory=False.
  mimic_raw = pd.read_csv(mimic_path, compression = 'gzip')

In [2]:
mimic_raw

,Time_since_ICU_admission,Unnamed: 0,ABPd,Cardiac Output_fillna,height_fillna,PEEP,Cardiac Output,PEEP_fillna,Sofa_Liver,Sofa_Cardiovascular,...,Case,lactate_up,progress,after_shock_annotation,INDEX,over_lactic,MAP_3hr_avg,MAP_increase,MAP_decrease,lactate_down
0,0,2999,75.0,1,0,5.0,7.964561,0,2,2,...,1,0,0,before_experience_shock,CASE1_CASE2_DF,0,0.000000,0,0,0.0
1,1,3000,75.0,1,0,5.0,7.964561,0,2,2,...,1,0,0,before_experience_shock,CASE1_CASE2_DF,0,91.666667,0,0,0.0
2,2,3001,75.0,1,0,5.0,7.964561,0,2,2,...,1,0,0,before_experience_shock,CASE1_CASE2_DF,0,91.666667,0,0,0.0
3,3,3002,75.0,1,0,5.0,7.964561,0,2,2,...,1,0,0,before_experience_shock,CASE1_CASE2_DF,0,91.666667,0,0,0.0
4,4,3003,75.0,1,0,5.0,7.964561,0,2,2,...,1,0,0,before_experience_shock,CASE1_CASE2_DF,0,91.666667,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391011,24,172842,52.0,0,0,5.0,6.450000,0,0,2,...,4,0,1,not_recov,CASE3_CASE4_DF,1,74.708333,0,1,0.0
391012,25,172843,54.0,0,0,5.0,6.450000,0,0,2,...,4,0,1,not_recov,CASE3_CASE4_DF,1,73.291667,0,1,0.0
391013,26,172844,77.0,0,0,5.0,5.590000,0,0,2,...,4,0,1,not_recov,CASE3_CASE4_DF,1,72.083333,1,0,0.0
391014,27,172845,78.0,0,0,5.0,5.590000,0,0,2,...,3,0,1,not_recov,CASE3_CASE4_DF,1,74.166667,1,0,0.0
391015,28,172846,77.0,0,0,5.0,5.590000,0,0,2,...,3,0,1,recov,CASE3_CASE4_DF,0,80.333333,1,0,1.0

In [3]:
mimic_mort_path = '/Users/gwonjeong-eul/Desktop/ecp-scl-macbook/eicu_patients/cohort_icu_mortality_0_.csv.gz'
mimic_mort = pd.read_csv(mimic_mort_path, compression = 'gzip')

In [13]:
mimic_mort[mimic_mort['stay_id']==39599552]

,subject_id,stay_id,intime,outtime,Age,gender,ethnicity,insurance,label,dod,hadm_id
996,10148145,39599552,2162-10-10 05:23:54,2162-10-16 18:35:39,29,M,WHITE,Other,0,0,27846736

In [16]:
156/24

6.5

In [15]:
mimic_raw[mimic_raw['stay_id']==39599552][['Time_since_ICU_admission']]

     Time_since_ICU_admission
699                         0
700                         1
701                         2
702                         3
703                         4
..                        ...
851                       152
852                       153
853                       154
854                       155
855                       156

[157 rows x 1 columns]

In [5]:
len(set(mimic_mort.stay_id.unique()) & set(mimic_raw.stay_id.unique()))

6037

In [11]:
mimic_mort.stay_id.nunique()

73181

In [12]:
mimic_raw.stay_id.unique()[5]

39599552

In [ ]:
#EDA

def mortality_24h_prediction(mimic, eicu, mimic_mort_path, eicu_mort_path, save_path):

    ### mortality early prediction (24h)
    """

    향후 24시간 이내 사망 예측
    건강이 악화되고 있는지 미리 예측하는 Task

    """

    mimic_mort = pd.read_csv(mimic_mort_path, compression = 'gzip')
    eicu_mort = pd.read_csv(eicu_mort_path, compression = 'gzip')

    m_mort_df = mimic[['subject_id', 'stay_id', 'Time_since_ICU_admission']].copy()
    e_mort_df = eicu[['uniquepid', 'patientunitstayid', 'Time_since_ICU_admission']].copy()

    m_mort_df['death'] = np.nan
    death_stay_ids = mimic_mort[mimic_mort['label']==1].stay_id.unique()

    for stay in death_stay_ids:
        
        if stay in m_mort_df.stay_id.unique():
        
            interest = m_mort_df[m_mort_df['stay_id']==stay]
            death_idx = interest.index[-1]
            
            current_time = interest[interest['stay_id']==stay].iloc[-1, :]['Time_since_ICU_admission']
            idx = interest[(interest['Time_since_ICU_admission'] >= current_time-24) & (interest['Time_since_ICU_admission'] < current_time)].index
            
            m_mort_df.loc[death_idx,'death'] = 'event'
            m_mort_df.loc[idx, 'death'] = 1
        
    m_mort_df = m_mort_df.fillna(0)

    e_mort_df['death'] = np.nan
    death_stay_ids_e = eicu_mort[eicu_mort['label']==1].patientunitstayid.unique()

    for stay in death_stay_ids_e:
        
        if stay in e_mort_df.patientunitstayid.unique():
        
            interest = e_mort_df[e_mort_df['patientunitstayid']==stay]
            death_idx = interest.index[-1]
            
            current_time = interest[interest['patientunitstayid']==stay].iloc[-1, :]['Time_since_ICU_admission']
            idx = interest[(interest['Time_since_ICU_admission'] >= current_time-24) & (interest['Time_since_ICU_admission'] < current_time)].index
            
            e_mort_df.loc[death_idx,'death'] = 'event'
            e_mort_df.loc[idx, 'death'] = 1
        
    e_mort_df = e_mort_df.fillna(0)

    """
    patient_id | stay id | Time_since_ICU_admission | death(label)
    """

    m_mort_df.to_csv(save_path + 'mimic_mort_24h.csv.gz')
    e_mort_df.to_csv(save_path + 'eicu_mort_24h.csv.gz')